/*-------------------------------- Raleway and Roboto fonts*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@400;500&display=swap");

/* color variables*/
:root {
  --pink-color: #d85cdc;
  --dark-pink: #ac54d0;
  --black-color: #1a1a1a;
  --light-gray: #cecece;
  --dark-gray: #7c7c7c;
}

/*-------------------------------- Universal selectors*/
a,
p,
li {
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
h1,
h2,
h4 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h4 {
  font-weight: 600;
}
/*-------------------------------- Header/Navbar*/
nav {
  padding: 12px 70px !important;
  transition: 200ms;
}
.nav-active {
  color: var(--pink-color)!important;
}
.nav-link {
  color: #ffffff;
}
/* nav item hover effect */
nav .nav-item a:hover {
  color: var(--light-gray) !important;
}
.navbar-brand {
  color: var(--pink-color);
  font-size: 1.4rem;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  margin: 0;
}
/* nav brand text hover effect */
.navbar-brand:hover {
  color: var(--pink-color);
}
.nav-bg {
  background-color: var(--black-color);
}
/*-------------------------------- Sections*/

/*Main section*/
.main-section {
  height: 70vh;
  /* gradient makes the image a litle darker */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-section-div {
  padding: 0px 70px;
  max-width: 710px;
}
.about-div {
  padding: 0px 70px;
  margin: 0 auto;
}
.about-text {
  max-width: 650px;
}
.about-imgs2 {
  max-width: 300px;
}
.img-about, .img-about2 {
  border-radius: 5px;
}

/*Bio section*/

.bio {
    margin-bottom: 1rem;
}

#bio-header {
    text-align: center;
}

.bio-div-img {
    text-align: center;
}

.img-bio {
  border-radius: 50%;
  width: 95%;
  max-width: 200px;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}


/*Selection section*/
.card {
  border-radius: 10px;
}
.card-body {
  background-color: var(--black-color);
  border-radius: 0px 0px 10px 10px;
}

/*-------------------------------- Footer*/
footer {
  background-color: var(--black-color);
  padding: 0px 70px;
  color: white;
  height: 65px;
  position: static;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
}

/*-------------------------------- Chat */
.chat-container {
  overflow-y: auto;
  height: 75vh;
  display: flex;
  flex-direction: column-reverse;
}

.chat-card {
  border-radius: 10px;
}

.bg-reply {
  background-color: #feefff!important;
}

.chat-sidebar {
  background-color: #1f1f1f!important;
  min-height: 90vh;
}

.chat-sidebar-link {
  cursor: pointer;
}

.chat-sidebar-link:hover {
  background-color: #282828;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #f8d2fa;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(216, 92, 220,.18);
}

.btn-chat {
  color: #fff;
  background-color: #383838;
  border-color: #383838;
}

.btn-chat:hover {
  color: #fff;
  background-color: #484848;
  border-color: #484848;
}
/*-------------------------------- Buttons*/
.btn-pink {
  background-color: var(--pink-color);
  border-radius: 2rem;
  padding: 10px 70px;
  transition: 200ms;
}
.btn-pink:hover {
  background-color: var(--dark-pink);
}
/*-------------------------------- Icons*/
.fa-arrow-right {
  position: relative;
  top: 1px;
  padding-left: 5px;
}
/*-------------------------------- Media queries*/
@media (min-width: 990px) and (max-width: 1280px) {
  .img-about2 {
     width: 72%;
  }
  #katherine {
    display: none !important;
  }
}
@media (max-width:1000px) {
  nav {
    padding: 12px 0px !important;
  }
}
@media (max-width: 700px) {
  .main-section {
    height: 80vh;
  }
  .main-section-div,
  .about-div,
  footer {
    padding: 0px 10px;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .introduction-mobile-screens h1 {
    font-size: 40px;
  }

  .introduction-mobile-screens p {
    font-size: 12.5px;
  }
}
