{% extends "base.html" %} {% block content %}
<section class="mt-5">
    <h3>Women in Tech Hackathon</h3>
    <div class=" col-12 card-deck d-flex d-inline">
        <div class="card col-3 d-flex d-inline">
            <img src="" alt="person image" onclick="personInfo(choiceObjects[0])">
            <h3 class="text-center" onclick="personInfo(choiceObjects[0])">Catherine Johnson</h3>
            <p class="text-center">jnjnjnjenfe</p>
        </div>
        <div class="card col-3 d-flex d-inline">
            <img src="" alt="" onclick="personInfo(choiceObjects[1])">
            <h3 class="text-center" onclick="personInfo(choiceObjects[1])">Ada Lovelace</h3>
            <p class="text-center">jnjnjnjenfe</p>
        </div>
        <div class="card col-3">
            <img src="" alt="" onclick="personInfo(choiceObjects[2])">
            <h3 class="text-center" onclick="personInfo(choiceObjects[2])">Catherine Johnson</h3>
            <p class="text-center">jnjnjnjenfe</p>
        </div>
        <div class="card col-3">
            <img src="" alt="" onclick="personInfo(choiceObjects[3])">
            <h3 class="text-center" onclick="personInfo(choiceObjects[3])">Catherine Johnson</h3>
            <p class="text-center">jnjnjnjenfe</p>
        </div>
        <div class="card col-3">
            <img src="" alt="" onclick="personInfo(choiceObjects[4])">
            <h3 class="text-center" onclick="personInfo(choiceObjects[4])">Catherine Johnson</h3>
            <p class="text-center">jnjnjnjenfe</p>
        </div>
    </div>

    {% for message in message_history%} {% if message %}
    <p>{{message}}</p>
    {% endif %} {% endfor %}
    <div id="chat_box"></div>
  <form id="user_message_form">
    <input id="user_message" name="user_message" /><br />
    <input
      type="hidden"
      id="message_history"
      name="message_history"
      value="{% for message in message_history%}{% if message %}|{{message}}{% endif %}{% endfor %}"
    />
    <button type="submit" onclick="fetch">Submit</button>
  </form>
</section>
<script type="application/javascript">
    const fetchURL = {{ url_for("fetch")|tojson }}
</script>
<script src="{{url_for('static', filename='chat.js')}}"></script>
  <script>
    const choiceObjects = [
    {
        name: "Catherine Johnson",
        occupation: "NASA mathematician",
    },
    {
        name: "Ada Lovelace",
        occupation: "mathematician", 
    },
    {
        name: "test one",
        occupation: "mathematician", 
    },
    {
        name: "Catherine Johnson",
        occupation: "mathematician", 
    },
    {
        name: "Catherine Johnson",
        occupation: "mathematician", 
    }]

    var personAnounce = document.getElementById("pers-info");
    function personInfo(person) {
        personAnounce.innerHTML = `Hi! I am ${person.occupation} ${person.name}. Ask me anything!`;
    }
  </script>
</section>
{% endblock %}