{% extends "base.html" %} {% block content %}
<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-4 col-lg-3 px-0 collapse order-3 order-md-1" id="collapseMobile">
            <div
                class="d-flex flex-column flex-shrink-0 p-3 text-white chat-sidebar h-100"
            >
                <hr />
                <ul class="nav nav-pills flex-column" id="chat_selector">
                    <li class="nav-item chat-sidebar-active">
                        <div
                            class="nav-link text-white chat-sidebar-link"
                            data-name="Katherine Johnson"
                            data-desc="NASA mathematician"
                        >
                            <img
                                src="../static/assets/imgs/katherine.jpg"
                                alt=""
                                class="rounded-circle me-2"
                                width="32"
                                height="32"
                            />
                            Katherine Johnson
                        </div>
                    </li>
                    <li>
                        <div
                            class="nav-link text-white chat-sidebar-link"
                            data-name="Ada Lovelace"
                            data-desc="first programmer"
                        >
                            <img
                                src="../static/assets/imgs/ada.jpg"
                                alt=""
                                class="rounded-circle me-2"
                                width="32"
                                height="32"
                            />
                            Ada Lovelace
                        </div>
                    </li>
                    <li>
                        <div
                            class="nav-link text-white chat-sidebar-link"
                            data-name="Grace Hopper"
                            data-desc="computer scientist"
                        >
                            <img
                                src="../static/assets/imgs/grace.jpg"
                                alt=""
                                class="rounded-circle me-2"
                                width="32"
                                height="32"
                            />
                            Grace Hopper
                        </div>
                    </li>
                    <li>
                        <div
                            class="nav-link text-white chat-sidebar-link"
                            data-name="Reshma Saujani"
                            data-desc="advocate for women in technology"
                        >
                            <img
                                src="../static/assets/imgs/reshma-saujani.jpg"
                                alt=""
                                class="rounded-circle me-2"
                                width="32"
                                height="32"
                            />
                            Reshma Saujani
                        </div>
                    </li>
                    <li>
                        <div
                            class="nav-link text-white chat-sidebar-link"
                            data-name="Mary Keller"
                            data-desc="computer scientist"
                        >
                            <img
                                src="../static/assets/imgs/mary-keller.jpg"
                                alt=""
                                class="rounded-circle me-2"
                                width="32"
                                height="32"
                            />
                            Mary Keller
                        </div>
                    </li>
                </ul>
                <hr />
            </div>
        </div>

        <div class="col-md-8 col-lg-9 order-1 order-md-2">
            <div class="row h-100">
                <div
                    class="col-10 offset-1 d-flex flex-column justify-content-end"
                >
                    <div class="chat-container">
                        <div id="chat_box">
                            <div class="card my-4 ms-1 me-5">
                                <div
                                    class="card-body text-dark bg-reply chat-card"
                                >
                                    Hi! I am Katherine Johnson the NASA
                                    mathematician. Ask me anything!
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="user_message_form">
                        <div class="input-group my-3">
                            <input
                                id="user_message"
                                name="user_message"
                                type="text"
                                class="form-control"
                                placeholder="Type your message here"
                                aria-label="Type your message here"
                                aria-describedby="button-addon2"
                            />
                            <button class="btn btn-chat" type="submit">
                                Send
                            </button>
                        </div>
                        <input
                            type="hidden"
                            id="message_history"
                            name="message_history"
                        />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 order-2 d-flex justify-content-center mt-2 d-md-none w-100 px-0">
            <button class="btn btn-chat btn-chat-mobile px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMobile" aria-expanded="false" aria-controls="collapseMobile">
                <div class="nav-link text-white px-0">
                    <img src="../static/assets/imgs/katherine.jpg" alt="" class="rounded-circle me-2" width="32" height="32" id="mobile_img">
                    <span id="mobile_name">Katherine Johnson</span>
                </div><i class="fa-solid fa-bars icon" aria-hidden="true"></i>
              </button>
        </div>
    </div>
</section>
{% endblock %} {% block scripts %}
<script type="application/javascript">
    const fetchURL = {{ url_for("fetch")|tojson }}
</script>
<script src="{{url_for('static', filename='chat.js')}}"></script>
{% endblock %}
