{% extends "base.html" %} {% block content %}
<section class="mt-5">
    <h3>Women in Tech Hackathon</h3>
    <div class="card">
        <img src="" alt="" onclick="personInfo(choiceObjects[0])">
        <h3 onclick="personInfo(choiceObjects[0])">Catherine Johnson</h3>
        <p>jnjnjnjenfe</p>
    </div>
    <div class="card">
        <img src="" alt="" onclick="personInfo(choiceObjects[1])">
        <h3 onclick="personInfo(choiceObjects[1])">Catherine Johnson</h3>
        <p>jnjnjnjenfe</p>
    </div>
    <div class="card">
        <img src="" alt="" onclick="personInfo(choiceObjects[2])">
        <h3 onclick="personInfo(choiceObjects[2])">Catherine Johnson</h3>
        <p>jnjnjnjenfe</p>
    </div>
    <div class="card">
        <img src="" alt="" onclick="personInfo(choiceObjects[3])">
        <h3 onclick="personInfo(choiceObjects[3])">Catherine Johnson</h3>
        <p>jnjnjnjenfe</p>
    </div>
    <div class="card">
        <img src="" alt="" onclick="personInfo(choiceObjects[4])">
        <h3 onclick="personInfo(choiceObjects[4])">Catherine Johnson</h3>
        <p>jnjnjnjenfe</p>
    </div>
    <button class="btn btn-success" onclick="personInfo(choiceObjects[0])"></button>
    <p id="pers-info"></p>
    {% for message in message_history%} {% if message %}
    <p>{{message}}</p>
    {% endif %} {% endfor %}
    <form id="sendMessageForm">
      <input id="user_message" name="user_message" /><br />
      <input
        type="hidden"
        id="message_history"
        name="message_history"
        value="{% for message in message_history%}{% if message %}|{{message}}{% endif %}{% endfor %}"
      />
      <button type="button" onClick="sendMessage()">Submit</button>
    </form>
  </section>
  <script type="application/javascript">
      const fetchURL = {{ url_for("fetch")|tojson }}
      const userMessage = document.getElementById('user_message')
      function sendMessage() {
          let messageData = {
              "userMessage": userMessage.value,
          }
          console.log(userMessage)
          let jsonRequest = {
              cache: "no-cache",
              method: "POST",
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify(messageData),
          }
          fetch(fetchURL, jsonRequest)
              .then(function (response) {
                  return response.json();
              })
              .then(function (data) {
                  console.log("POST data:");
                  console.log(data);
              });
      }
  </script>
  <script>
    const choiceObjects = [
    {
        name: "Catherine Johnson",
        occupation: "NASA mathematician",
    },
    {
        name: "Ada Lovelace",
        occupation: "mathematician", 
    },
    {
        name: "Catherine Johnson",
        occupation: "mathematician", 
    },
    {
        name: "Catherine Johnson",
        occupation: "mathematician", 
    },
    {
        name: "Catherine Johnson",
        occupation: "mathematician", 
    }]

    var personAnounce = document.getElementById("pers-info");
    function personInfo(person) {
        personAnounce.innerHTML = `Hi! I am ${person.occupation} ${person.name}. Ask me anything!`;
    }
  </script>
</section>
{% endblock %}