{% extends "base.html" %} {% block content %}
<section class="mt-5">
  <h3>Women in Tech Hackathon</h3>
  <p>Hi! I'm NASA mathematician Katherine Johnson. Ask me anything!</p>
  {% for message in message_history%} {% if message %}
  <p>{{message}}</p>
  {% endif %} {% endfor %}
  <form method="POST">
    <input id="user_message" name="user_message" /><br />
    <input
      type="hidden"
      id="message_history"
      name="message_history"
      value="{% for message in message_history%}{% if message %}|{{message}}{% endif %}{% endfor %}"
    />
    <button type="submit">Submit</button>
  </form>
</section>
{% endblock %}
