{% extends "base.html" %} {% block content %}
      <section class="selection container-fluid mt-5 pt-5 text-center pb-md-5">
        <h2>Who would you like to chat with?</h2>
        <!-- container selection -->
        <div class="container pt-md-5 pt-4 pb-5">
            <!-- row container that holds 5 cols-->
            <div class="row justify-content-center gx-4 gy-4">
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <a href="{{url_for("chat", selection="ada")}}" class="selection_link">
                        <div class="card">
                            <img src="../static/assets/card_imgs/ada.jpg"  class="card-img-top" alt="ada lovelace">
                            <div class="card-body">
                                <h4 class="card-title text-white">Ada Lovelace</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <a href="{{url_for("chat", selection="katherine")}}" class="selection_link">
                        <div class="card">
                            <img src="../static/assets/card_imgs/katherine.jpg"  class="card-img-top" alt="katherne johnson">
                            <div class="card-body">
                                <h4 class="card-title text-white">Katherine Johnson</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <a href="{{url_for("chat", selection="grace")}}" class="selection_link">
                        <div class="card">
                            <img src="../static/assets/card_imgs/grace.jpg"  class="card-img-top" alt="grace hopper">
                            <div class="card-body">
                                <h4 class="card-title text-white">Grace Hopper</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <a href="{{url_for("chat", selection="reshma")}}" class="selection_link">
                        <div class="card">
                            <img src="../static/assets/card_imgs/reshma.jpg" class="card-img-top" alt="reshma saujani">
                            <div class="card-body">
                                <h4 class="card-title text-white">Reshma Saujani</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <a href="{{url_for("chat", selection="mary")}}" class="selection_link">
                        <div class="card">
                            <img src="../static/assets/card_imgs/mary.jpg" class="card-img-top" alt="mary keller">
                            <div class="card-body">
                                <h4 class="card-title text-white">Mary Keller</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </section>

{% endblock %}
