{% extends "base.html" %} {% block content %}
      <section class="selection container-fluid mt-5 pt-5 text-center pb-md-5">
        <h2>Who would you like to chat with?</h2>
        <!-- container selection -->
        <div class="container pt-md-5 pt-4 pb-5">
            <!-- row container that holds 5 cols-->
            <div class="row justify-content-center gx-4 gy-4">
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <img src="../static/assets/card_imgs/ada.jpg"  class="card-img-top" alt="ada lovelace">
                        <div class="card-body">
                            <h4 class="card-title text-white">Ada Lovelace</h4>
                        </div>
                    </div>
                </div>
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <img src="../static/assets/card_imgs/katherine.jpg"  class="card-img-top" alt="katherne johnson">
                        <div class="card-body">
                            <h4 class="card-title text-white">Katherine Johnson</h4>
                        </div>
                    </div>
                </div>
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <img src="../static/assets/card_imgs/grace.jpg"  class="card-img-top" alt="grace hopper">
                        <div class="card-body">
                            <h4 class="card-title text-white">Grace Hopper</h4>
                        </div>
                    </div>
                </div>
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <img src="../static/assets/card_imgs/ada.jpg" class="card-img-top" alt="Ada lovelace card">
                        <div class="card-body">
                            <h4 class="card-title text-white">Grace Hopper</h4>
                        </div>
                    </div>
                </div>
                <!-- col that holds a card component -->
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <img src="../static/assets/card_imgs/ada.jpg" class="card-img-top" alt="Ada lovelace card">
                        <div class="card-body">
                            <h4 class="card-title text-white">Ada Lovelace</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

{% endblock %}
